.navbar-toggle {
		z-index: +1;
		float:right;
		background-color: black;
		}
.navbar- {
		float: left;
		}
		
.navbar {
	margin: 0 auto;
	}
	
.container {
		background-color: #8F0000;
		border: medium double black;
		border-width: auto;
		border-radius: 50px;
		z-index: +1;
		width: auto;
		font:white;
		}

.nav-tabs {
		margin-top: 150px;
		}


#tab2  {
		background-color: #8F0000;
		border: medium solid black;
		border-width: 2px;
		border-radius: 25px 25px 0px 0px;
		float: left;
		font:white;
	}	

#tab3  {
		background-color: #8F0000;
		border: medium solid black;
		border-width: 2px;
		border-radius: 25px 25px 0px 0px;
		float: left;
		color:white;
}


