.navbar-toggle {
		z-index: +1;
		float:right;
		background-color: black;
		}
.navbar {
	width:350px;
	margin: 0 auto;
	}
.container {
		background-color: #8F0000;
		border: medium double black;
		border-width: auto;
		border-radius: 50px;
		z-index: +1;
		width: auto;
		font:white;
		}

.nav-tabs {
		margin-top: 150px;
		}

#tab1  {
		background-color: #8F0000;
		border: medium solid black;
		border-width: 2px;
		border-radius: 25px 25px 0px 0px;
		float: left;
		
	}

#tab2  {
		background-color: #8F0000;
		border: medium solid black;
		border-width: 2px;
		border-radius: 25px 25px 0px 0px;
		float: left;
	}	

#tab3  {
		background-color: #8F0000;
		border: medium solid black;
		border-width: 2px;
		border-radius: 25px 25px 0px 0px;
		float: left;
}

	/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: lightgray;
}

/* selected link */
a:active {
    color: lightgray;
}
