body  {
		background: url("img/bgd1.jpg");
		background-size: 100%;
		color: white;
	}
	


/*Login Form css*/
.formlogin {
		width:250px;
		margin: 0 auto;
		text-align: center;
		margin-top:150px;
		}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: lightgray;
}

/* selected link */
a:active {
    color: lightgray;
}