body  {
		background: url("img/bgd1.jpg");
		background-size: 100%;
	}

p {
    font: italic bold 12px/30px Georgia, serif;
}
		
.aboutmeheader {
		margin: 0px auto;
		}
		
.aboutmeparagraph {
		text-align: left;
		}
		
.about-wrapper  {
		border: thick double black;
		border-radius: 25px;
		background-color: #8F0000;
		margin-top: 200px;
		width: 300px;
		height: auto;
		font-size: 100%;

}

.aboutmeparagraph {
		margin: 10px;
		}
	
.logo 	{
		border: medium solid white;
		border-width: 2px;
		width: 100px;
		margin: 10px;
		float: left;
	}
	
.aboutImages {
		margin-top: 100px;
		}



.tictactoebackground {
		margin-top: 300px;
		}