.colname {
	border: contain;
	height:25px;
	width:auto;
	color: white;
	}
	
.row {
	color: black;
	}

.table {
		margin-top: 200px;
		width: 900px;
		height:auto;
		}

#tutorialTable_info {
	color: white;
	}
	
a#tutorialTable_next {
	color: white;
	}

a#tutorialTable_previous:link {color: white;}
a#tutorialTable_previous:active {color: white;}
a#tutorialTable_previous:hover {color: white;}
a#tutorialTable_previous:visited {color: white;}