body  {
		background: url("img/bgd.jpg");
		background-color:black;
		background-size: 100%;
		color: white;
	}

p {
    font: italic bold 12px/30px Georgia, serif;
	
}

.aboutmeheader {
		margin: 0px auto;
		color:white;
		}
		
.aboutmeparagraph {
		text-align: left;
		margin:10px;
		color:white;
		}
		
.about-wrapper  {
		border: thick double black;
		border-radius: 25px;
		background-color: #8F0000;
		margin: 0px auto;
		margin-top:100px;
		width: 600px;
		height: auto;
		font-size: 100%;
		color:white;

}