

.small {
	width: 25%;
}

.clear {
	width: 50%;
}

.calc-wrapper {
	margin-top: 40px;
	margin: 0 auto;
	width: 400px;
	height: 385px;
	background: black;
	background-size:100%;
	border-radius: 10px;
}

.formDisplay {
	position: relative;
	width: 245px;
	height: 60px;
	top: 20px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.mainDivContainer {
	position: relative;
	margin: 70px auto;
	width: 350px;
	height: 175px;
}

.buttonContainer .clear {
	float: left;
	margin: 0;
	padding: 0;
	display: inline-block;
	background-color: gray;
	box-sizing: border-box;
	border: 1px solid black;
	position: relative;	
	height: 50px;

}

.buttonContainer .small {
	background-color: gray;
	box-sizing: border-box;
	border: 1px solid black;
	float: left;
	display: inline-block;
	position: relative;
	height: 50px;

}

.calc {
	width: 100%;
	height: 100%;
	font-size: 1.9em;
	font-family: serif;
	text-shadow: 2px 2px #000;
	color: lightgray;
	border: 0;
}

.fontDivformDisplay {
	text-align: right;
	width: 100%;
	height: 100%;
	background-color: lightgray;
	font-size: 2em;
	font-family: serif;
	color:black;
}